/agent-*
/coverage
/covdir
/gopath
/gopath.proto
/release
/bin
/data
*.etcd
*.log
*.swp
/etcd
/hack/insta-discovery/.env
*.coverprofile
*.test
hack/tls-setup/certs
.idea
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*
/vendor
/tests/e2e/default.proxy
*.tmp
*.bak
.gobincache/
start_etcd1.sh
start_etcd2.sh
start_etcd3.sh
v2_start_etcd1.sh
v2_start_etcd2.sh
v2_start_etcd3.sh
using_Procfile.learner
/data/member/snap/*
/data/member/wal/*
